.input-group
	width 100%
	text-align left
	

	> .label
		color #FFFFFF
		margin-bottom 15px
		display block		
		
	> .input 
		background-color transparent
		color #FFFFFF
		padding 15px
		width 100%
		letter-spacing 1.1px
		font-family "Quicksand"
		font-weight normal
		border solid 1px #FFFFFF
		border-radius 5px
		font-size 1rem
		
	> textarea.input 
		height 100px
		resize none 

.input-group + .input-group 
	padding-bottom 30px