@import 'packeges/bootstrap-grids-system/bootstrap-grid.min.css'
@import 'packeges/animate.css/animate.min.css'
/* ===== Arquivo de importação dos stylus ===== */
@import 'settings/*'
@import 'tools/*'
@import 'generics/*'
@import 'elements/*'
@import 'objects/*'
@import 'components/*'
@import 'trumps/*'