gradient() {
	background-image #FFFFFF
	background-image -webkit-linear-gradient(to bottom, #FFFFFF 70%, transparent 90%)
	background-image linear-gradient(to bottom, #FFFFFF 70%, transparent 90%)
}

gradientText(){
	gradient()	
	-webkit-background-clip text
	-webkit-text-fill-color transparent
}