.feedback
	width 100%
	font-size 1em
	line-height 1.7em
	border-radius 5px
	background-color #B2FFC4
	border solid 1px #559C66
	color #559C66
	font-weight 700
	margin-bottom 60px
	padding 15px
	display none
	
	.sucess 
	.text
		display inline-block
		vertical-align middle
	.sucess 
		padding-right 15px
	.sucess > img
		height 50px
		width 50px

	&.--show
		display block